<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Sphere</title>

    <!-- 
    - favicon
  -->
    <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


    <!-- 
    - custom css link
  -->
    <link rel="stylesheet" href="hotels.css">

    <!-- 
    - google font link
  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&family=Poppins:wght@400;500;600;700&display=swap"
        rel="stylesheet">
</head>

<body>

    <!-- 
       #HEADER
    -->


    <header class="header">

        <div class="overlay"></div>


        <div class="header-bottom list-header-bottom">
            <div class="container">

                <ul class="social-list">

                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-facebook"></ion-icon>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-twitter"></ion-icon>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-youtube"></ion-icon>
                        </a>
                    </li>

                </ul>

                <nav class="navbar">

                    <div class="navbar-top">

                        <a href="#" class="logo">
                            <img src="./assets/images/logo-blue.svg" alt="Tourly logo">
                        </a>

                        <button class="nav-close-btn" aria-label="Close Menu">
                            <ion-icon name="close-outline"></ion-icon>
                        </button>

                    </div>

                    <ul class="navbar-list">

                        <li>
                            <a href="../index.html" class="navbar-link">home</a>
                        </li>

                        <li>
                            <a href="#" class="navbar-link">about us</a>
                        </li>

                        <li>
                            <a href="#destination" class="navbar-link">destination</a>
                        </li>

                        <li>
                            <a href="#package" class="navbar-link">packages</a>
                        </li>

                        <li>
                            <a href="#gallery" class="navbar-link">gallery</a>
                        </li>

                        <li>
                            <a href="#contact" class="navbar-link">contact us</a>
                        </li>

                    </ul>

                </nav>

                <button class="btn btn-primary">Book Now</button>

                <button class="nav-open-btn" aria-label="Open Menu">
                    <ion-icon name="menu-outline"></ion-icon>
                </button>

            </div>
        </div>

    </header>



    <!-- 
    #HOTEL LIST
    -->


    <div class="list-container">
        <div class="left-col">

            <p>200+ Options</p>
            <h1>Recommended Places In St. Matin's</h1>

            <div class="hotel" data-type="House, Hostel, Cottage, Villa, Guest Suit" data-amenities="Air Conditioning, Wifi, Gym, Pool, Kitchen"
            data-price="12610">
                <div class="hotel-img">
                    <img src="images/royal-tulip-sea-pearl.jpg">
                </div>
                <div class="hotel-info">
                    <p>Hotels in St. Matin's</p>
                    <h3>Deluxe Queen Room with Beach View</h3>
                    <p>1 Bedroom / 1 Bathroom / Wifi / Kitchen</p>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <i class="far fa-star"></i>

                    <div class="hotel-price" id="hotelInfo">
                        <p class="guests">2 Guest</p>
                        <h4 class="price">TK 6000 <span>per day </span></h4>
                    </div>
                </div>
            </div>

            <div class="hotel" data-type="House, Hostel, Cottage, Villa, Guest Suit" data-amenities="Air Conditioning, Wifi, Gym, Pool, Kitchen"
            data-price="22000">
                <div class="hotel-img">
                    <img src="images/royal-tulip-sea-pearl.jpg">
                </div>
                <div class="hotel-info">
                    <p>Hotels in St. Matin's</p>
                    <h3>Deluxe Queen Room with Beach View</h3>
                    <p>1 Bedroom / 1 Bathroom / Wifi / Kitchen</p>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <i class="far fa-star"></i>

                    <div class="hotel-price">
                        <p>2 Guest</p>
                        <h4>TK 6000 <span>per day </span></h4>
                    </div>
                </div>
            </div>

            <div class="hotel" data-type="House, Hostel, Cottage, Villa, Guest Suit" data-amenities="Air Conditioning, Wifi, Gym, Pool, Kitchen"
            data-price="26000">
                <div class="hotel-img">
                    <img src="images/royal-tulip-sea-pearl.jpg">
                </div>
                <div class="hotel-info">
                    <p>Hotels in St. Matin's</p>
                    <h3>Deluxe Queen Room with Beach View</h3>
                    <p>1 Bedroom / 1 Bathroom / Wifi / Kitchen</p>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <i class="far fa-star"></i>

                    <div class="hotel-price" id="hotelInfo">
                        <p class="guests">2 Guest</p>
                        <h4 class="price">TK 6000 <span>per day </span></h4>
                    </div>
                </div>
            </div>

            <div class="hotel" data-type="House, Hostel, Cottage, Villa, Guest Suit" data-amenities="Air Conditioning, Wifi, Gym, Pool, Kitchen"
            data-price="21700">
                <div class="hotel-img">
                    <img src="images/royal-tulip-sea-pearl.jpg">
                </div>
                <div class="hotel-info">
                    <p>Hotels in St. Matin's</p>
                    <h3>Deluxe Queen Room with Beach View</h3>
                    <p>1 Bedroom / 1 Bathroom / Wifi / Kitchen</p>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <i class="far fa-star"></i>

                    <div class="hotel-price" id="hotelInfo">
                        <p class="guests">2 Guest</p>
                        <h4 class="price">TK 6000 <span>per day </span></h4>
                    </div>
                </div>
            </div>

            <div class="hotel" data-type="House, Hostel, Cottage, Villa, Guest Suit" data-amenities="Air Conditioning, Wifi, Gym, Pool, Kitchen"
            data-price="18999">
                <div class="hotel-img">
                    <img src="images/royal-tulip-sea-pearl.jpg">
                </div>
                <div class="hotel-info">
                    <p>Hotels in St. Matin's</p>
                    <h3>Deluxe Queen Room with Beach View</h3>
                    <p>1 Bedroom / 1 Bathroom / Wifi / Kitchen</p>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <i class="far fa-star"></i>

                    <div class="hotel-price" id="hotelInfo">
                        <p class="guests">2 Guest</p>
                        <h4 class="price">TK 6000 <span>per day </span></h4>
                    </div>
                </div>
            </div>

            <div class="hotel" data-type="House, Hostel, Cottage, Villa, Guest Suit" data-amenities="Air Conditioning, Wifi, Gym, Pool, Kitchen"
            data-price="15345">
                <div class="hotel-img">
                    <img src="images/royal-tulip-sea-pearl.jpg">
                </div>
                <div class="hotel-info">
                    <p>Hotels in St. Matin's</p>
                    <h3>Deluxe Queen Room with Beach View</h3>
                    <p>1 Bedroom / 1 Bathroom / Wifi / Kitchen</p>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <i class="far fa-star"></i>

                    <div class="hotel-price" id="hotelInfo">
                        <p class="guests">2 Guest</p>
                        <h4 class="price">TK 6000 <span>per day </span></h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="right-col">

            <div class="sidebar">

                <h2>Select Filters</h2>
                <h3>Property Type</h3>

                <div class="filter">
                    <input type="checkbox" id="house" value="house">
                    <label for="house">House</label>
                    <span>(0)</span>
                </div>

                <div class="filter">
                    <input type="checkbox" id="hostel" value="hostel">
                    <label for="hostel">Hostel</label>
                    <span>(0)</span>
                </div>

                <div class="filter">
                    <input type="checkbox" id="cottage" value="cottage">
                    <label for="cottage">Cottage</label>
                    <span>(0)</span>
                </div>

                <div class="filter">
                    <input type="checkbox" id="villa" value="villa">
                    <label for="villa">Villa</label>
                    <span>(0)</span>
                </div>

                <div class="filter">
                    <input type="checkbox" id="guest-suit" value="guest-suit">
                    <label for="guest-suit">Guest Suit</label>
                    <span>(0)</span>
                </div>

                <h3>Amenities</h3>

                <div class="filter">
                    <input type="checkbox" id="air-conditioning" value="air-conditioning">
                    <label for="air-conditioning">Air Conditioning</label>
                        <span>(0)</span>
                </div>

                <div class="filter">
                    <input type="checkbox" id="wifi" value="wifi">
                    <label for="wifi">Wifi</label>
                    <span>(0)</span>
                </div>

                <div class="filter">
                    <input type="checkbox" id="gym" value="gym">
                    <label for="gym">Gym</label>
                    <span>(0)</span>
                </div>

                <div class="filter">
                    <input type="checkbox" id="pool" value="pool">
                    <label for="pool">Pool</label>
                    <span>(0)</span>
                </div>

                <div class="filter">
                    <input type="checkbox" id="kitchen" value="kitchen">
                    <label for="kitchen">Kitchen</label>
                    <span>(0)</span>
                </div>

                <div class="sidebar-link">
                    <a href="#">View More</a>
                </div>
            </div>

        </div>
    </div>


    <div class="pagination">
        <img src="images/arrow.png">
        <span class="current">1</span>
        <span>2</span>
        <span>3</span>
        <span>&middot; &middot; &middot; &middot;</span>
        <span>10</span>
        <img src="images/arrow.png" class="right-arrow">
    </div>


   

    <!-- 
    #FOOTER
    -->

    <footer class="footer">

        <div class="footer-top">
            <div class="container">

                <div class="footer-brand">

                    <a href="#" class="logo">
                        <img src="./assets/images/logo.svg" alt="Tourly logo">
                    </a>

                    <p class="footer-text">
                        Travel with us for unforgettable experiences and adventures.
                        Explore unique destinations and curated packages just for you.
                        Your journey begins here, and we’re here to guide every step of the way!
                    </p>

                </div>

                <div class="footer-contact">

                    <h4 class="contact-title">Contact Us</h4>

                    <p class="contact-text">
                        Feel free to contact and reach us !!
                    </p>

                    <ul>

                        <li class="contact-item">
                            <ion-icon name="call-outline"></ion-icon>

                            <a href="tel:+01123456790" class="contact-link">+0123456790</a>
                        </li>

                        <li class="contact-item">
                            <ion-icon name="mail-outline"></ion-icon>

                            <a href="mailto:info.travel-sphere.com" class="contact-link">info.travel-sphere.com</a>
                        </li>

                        <li class="contact-item">
                            <ion-icon name="location-outline"></ion-icon>

                            <address>3146 Dhaka, Bangladesh</address>
                        </li>

                    </ul>

                </div>

                <div class="footer-form">

                    <p class="form-text">
                        Subscribe our newsletter for more update & news !!
                    </p>

                    <form action="" class="form-wrapper">
                        <input type="email" name="email" class="input-field" placeholder="Enter Your Email" required>

                        <button type="submit" class="btn btn-secondary">Subscribe</button>
                    </form>

                </div>

            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">

                <p class="copyright">
                    &copy; 2022 <a href="">codewithsadee</a>. All rights reserved
                </p>

                <ul class="footer-bottom-list">

                    <li>
                        <a href="#" class="footer-bottom-link">Privacy Policy</a>
                    </li>

                    <li>
                        <a href="#" class="footer-bottom-link">Term & Condition</a>
                    </li>

                    <li>
                        <a href="#" class="footer-bottom-link">FAQ</a>
                    </li>

                </ul>

            </div>
        </div>

    </footer>

    <!-- 
    - #GO TO TOP
  -->

    <a href="#top" class="go-top" data-go-top>
        <ion-icon name="chevron-up-outline"></ion-icon>
    </a>





    <!-- 
- custom js link
-->
    <script src="./assets/js/script.js"></script>

    <!-- 
- ionicon link
-->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>




    <script src="hotels.js">
    </script>
</body>

</html>